* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background: #f4f4f4;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.logo img {
    width: 180px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-left: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.menu ul li:hover {
    color: #017143;
}

.hero {
    background: #017143;
    margin-top: 40px;
    padding: 80px 0;
    border-radius: 0 0 100px 100px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.text {
    color: white;
    max-width: 500px;
}

.text h2 {
    font-size: 48px;
    line-height: 1.2;
}

.text span {
    color: #003b0c;
    font-weight: bold;
}

.text p {
    margin-top: 20px;
    line-height: 1.6;
}

.image img {
    width: 360px;
    height: auto;
}

.cards {
    margin-top: 80px;
    margin-bottom: 80px;
}

.cards-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card {
    background: rgb(249, 253, 251);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    flex: 1;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
/* SEÇÃO DE CARDS */
.cards{
    padding: 80px 0;
    background: #f4f4f4;
}

.cards-grid{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

/* CARD */
.card{
    background: #017143; /* VERDE STARBUCKS */
    color: #ffffff;       /* TEXTO BRANCO */
    flex: 1;
    min-width: 280px;
    max-width: 320px;
    padding: 30px 20px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
    transition: 0.3s ease;
}

.card:hover{
    transform: translateY(-8px);
}

.card img{
    width: 100px;          
    height: 100px;
    object-fit: contain;  
    margin-bottom: 20px;
}

.card h3{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}

.card p{
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.95;
}


footer{
    background: #111; 
    color: #bbb;
    margin-top: 80px;
    padding-top: 60px;
    font-size: 14px;
}

.footer-grid{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.footer-col h4{
    color: #fff;
    margin-bottom: 18px;
    font-size: 16px;
}

.footer-col ul{
    list-style: none; 
    padding: 0;
}

.footer-col ul li{
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-col ul li:hover{
    color: #017143; 
}

.footer-bottom{
    border-top: 1px solid #2a2a2a;
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
    color: #777;
}
